/build/sbeep
/build/slogd
/build/sns
/build/somatic_dump
/build/somatic_live_plot
/build/somatic_motor_plot
/include/somatic.pb-c.h
/src/somatic.pb-c.c
/verbatim/share/somatic/somatic.protobin
/.deps
/build/sjstel
/Makefile.in
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
.libs
autom4te.cache
*.lo
*.la
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/sbeep
/sjstel
/slogd
/sns
/somatic_dump
/somatic_exampled
/somatic_live_plot
/somatic_motor_plot
/stamp-h1
/somatic-*.tar.gz
/Makefile
/debian/files
/debian/libsomatic-dev.debhelper.log
/debian/libsomatic-dev.substvars
/debian/libsomatic-dev
/debian/libsomatic0
/debian/libsomatic0.debhelper.log
/debian/libsomatic0.postinst.debhelper
/debian/libsomatic0.postrm.debhelper
/debian/libsomatic0.substvars
/debian/somatic-utils
/debian/somatic-utils.debhelper.log
/debian/somatic-utils.substvars
/debian/tmp
