Source: somatic
Priority: extra
Maintainer: Neil Dantam <ntd@gatech.edu>
Build-Depends: debhelper (>= 7), autotools-dev, gfortran, libblas-dev, liblapack-dev, protobuf-c-compiler, libprotobuf-c0-dev (>=0.14), libach-dev, libamino-dev
Standards-Version: 3.9.1
Section: libs

Package: libsomatic-dev
Section: libdevel
Architecture: any
Depends: libsomatic0 (= ${binary:Version}), ${misc:Depends}
Description: Message definitions and daemon tools
 Defines commonly used message types and helper functions for
 real-time robotics daemons

Package: libsomatic0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Message definitions and daemon tools
 Defines commonly used message types and helper functions for
 real-time robotics daemons

Package: somatic-utils
Section: misc
Architecture: any
Depends: libsomatic0 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}, ach-util
Description: Message definitions and daemon tools
 Defines commonly used message types and helper functions for
 real-time robotics daemons
